body {
  background:#820021;
  color:#0f0101;
  }
  
  .jumbotron {
    background-image: url("../images/bio2.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
.panel-heading {
  background: #ffffff;}

.panel-body {
    background: #ffffff;}

  select {
    color: #000000; 
}
h1 {
  background-color: #f3efefc4;
}

p {
  background-color: #f3efefc4;
}